Package: love.litten.lune
Name: Lune 🌙
Depends: mobilesubstrate, preferenceloader, firmware (>= 13), ws.hbang.common (>= 1.14), love.litten.libkitten (>= 1.1.1), com.mrgcgamer.libgcuniversal
Version: 1.5.1
Architecture: iphoneos-arm
Description: Twinkle twinkle little star
Maintainer: Litten
Author: Litten
Section: Tweaks
