<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>🌸 Litten</string>
			<key>firstAccount</key>
			<string>schneelittchen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Behavior</string>
			<key>footerText</key>
			<string>Three volume up presses wake the device</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Shutdown percentage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>7</integer>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>shutdownPercentage</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Wake percentage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>wakePercentage</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>wakeWithVolumeButton</string>
			<key>label</key>
			<string>Wake with volume up button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>wakeWhenPluggedIn</string>
			<key>label</key>
			<string>Wake when plugged in</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>toggleWarning</string>
			<key>label</key>
			<string>Toggle warning</string>
			<key>PostNotification</key>
			<string>love.litten.puckpreferences/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Warning Notification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>warningNotification</string>
			<key>label</key>
			<string>Show warning notification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Notification percentage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>warningPercentage</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>hideLowPowerAlert</string>
			<key>label</key>
			<string>Hide low power alert</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Airplane mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>toggleAirplaneMode</string>
			<key>label</key>
			<string>Toggle airplane mode</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>killAllApps</string>
			<key>label</key>
			<string>Kill all apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>ignoreNowPlayingApp</string>
			<key>label</key>
			<string>Ignore now playing app</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Music</string>
			<key>footerText</key>
			<string>Bluetooth headphones will disconnect, unless you enable bluetooth manually once while in airplane mode</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>allowMusicPlayback</string>
			<key>label</key>
			<string>Allow music playback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>allowVolumeChanges</string>
			<key>label</key>
			<string>Allow volume changes</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Calls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>allowCalls</string>
			<key>label</key>
			<string>Don't shutdown during a call</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>shutdownAfterCallEnded</string>
			<key>label</key>
			<string>Shutdown after a call ended</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alarms</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>wakeWhenAlarmFires</string>
			<key>label</key>
			<string>Wake when alarm fires</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Flashlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>turnFlashlightOff</string>
			<key>label</key>
			<string>Turn flashlight off</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume down gestures</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>toggleFlashlight</string>
			<key>label</key>
			<string>Toggle flashlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.puckpreferences</string>
			<key>key</key>
			<string>playPauseMedia</string>
			<key>label</key>
			<string>Play/Pause media</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Activate</string>
			<key>action</key>
			<string>activate:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributions</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Contributors</string>
 			<key>detail</key>
 			<string>PCKContributorsSubPreferencesListController</string>
 			<key>PCKSub</key>
 			<string>sub/contributors</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You might like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Koi</string>
			<key>subtitle</key>
			<string>3D touch menu color based on app icon</string>
			<key>icon</key>
			<string>featured/Koi.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/Koi/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Butterfly</string>
			<key>subtitle</key>
			<string>Little colors flying around everywhere</string>
			<key>icon</key>
			<string>featured/Butterfly.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/Butterfly/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Puck by Litten, icon and banner by taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Chat with us 👾</string>
			<key>url</key>
			<string>https://discord.gg/tKUPZrS7ve</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>subtitle</key>
			<string>GitHub 🔮</string>
			<key>url</key>
			<string>https://github.com/schneelittchen/Puck</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate to Litten</string>
			<key>subtitle</key>
			<string>Appreciated 💝</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>princess of daydreaming</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Puck</string>
</dict>
</plist>
