Package: love.litten.pucktoggle
Name: PuckToggle
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Control center toggle for puck
Maintainer: Litten
Author: Litten
Section: Control Center (Modules)
