<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Now Playing Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyArtworkBackground</string>
			<key>label</key>
			<string>Artwork as Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>label</key>
			<string>Blur:</string>
			<key>key</key>
			<string>spotifyArtworkBlur</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light</string>
				<string>Dark</string>
				<string>Adaptive</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Blur Amount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyArtworkBlurAmount</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Artwork Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyArtworkOpacity</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Artwork Dim Amount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyArtworkDim</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding - Now Playing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideArtwork</string>
			<key>label</key>
			<string>Hide Artwork</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideNextTrackButton</string>
			<key>label</key>
			<string>Hide Next Track Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHidePreviousTrackButton</string>
			<key>label</key>
			<string>Hide Previous Track Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHidePlayButton</string>
			<key>label</key>
			<string>Hide Play/Pause Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideShuffleButton</string>
			<key>label</key>
			<string>Hide Shuffle Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideRepeatButton</string>
			<key>label</key>
			<string>Hide Repeat Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideDevicesButton</string>
			<key>label</key>
			<string>Hide Devices Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideQueueButton</string>
			<key>label</key>
			<string>Hide Queue Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideSongTitle</string>
			<key>label</key>
			<string>Hide Song Title, Artist Name, Playlist Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideTimeSlider</string>
			<key>label</key>
			<string>Hide Time Slider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideRemainingTimeLabel</string>
			<key>label</key>
			<string>Hide Remaining Time Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideElapsedTimeLabel</string>
			<key>label</key>
			<string>Hide Elapsed Time Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideLikeButton</string>
			<key>label</key>
			<string>Hide Like Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideBackButton</string>
			<key>label</key>
			<string>Hide Back Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHideContextButton</string>
			<key>label</key>
			<string>Hide Context Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>spotifyHidePlaylistTitle</string>
			<key>label</key>
			<string>Hide Playlist Title</string>
		</dict>

	</array>
	<key>title</key>
	<string>Violet</string>
</dict>
</plist>
